<div class="page-light">
    <h1 class="section-title-dark">
        About me
    </h1>
    <div>
        <p class="section-description">
            Hi, <br> I'm a full-stack developer / software engineer, focused on using my skills on adding the most value to the team.
        </p>

        <p class="section-description">
            Technologies I have worked on =>
        </p>

        <div class="row g-3">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Frontend</h5>
                        <span><img src="./assets/Logos/html.png" alt="" class="tech-logo"></span>
                        <span><img src="./assets/Logos/css.png" alt="" class="tech-logo"></span>
                        <span><img src="./assets/Logos/ts.png" alt="" class="tech-logo"></span>
                        <span><img src="./assets/Logos/angular.png" alt="" class="tech-logo"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Backend</h5>
                        <span><img src="./assets/Logos/dotnet.png" alt="" class="tech-logo"></span>
                        <span><img src="./assets/Logos/aws.png" alt="" class="tech-logo-aws"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>