<div class="page-light">
    <h1 class="section-title-dark">
        Contact
    </h1>

    <app-alert [status]="alertStatus" (newItemEvent)="dismissAlert($event)" [alertMessage]="alertMessage"></app-alert>

    <div class="container">
        <form action="#" class="contactform" [formGroup]="form">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="required" formControlName="firstname">
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="required" formControlName="lastname">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="required" formControlName="email">
                </div>
                <div class="input-box">
                    <span class="details">Phone</span>
                    <input type="text" placeholder="optional" formControlName="phone">
                </div>

                <div class="input-box">
                    <span class="details">Comments</span>
                    <textarea placeholder="optional" id="" cols="30" rows="2" formControlName="comments"></textarea>
                </div>


            </div>
            <div class="button">
                <input type="submit" value="Submit" [disabled]="!form.valid" (click)="submitContact()">
            </div>
        </form>

    </div>
</div>