<div class="page-light">
    <h1 class="section-title-dark">
        Contact
    </h1>

    <div class="container">
        <form action="#" class="contactform">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" placeholder="required">
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="required">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="required">
                </div>
                <div class="input-box">
                    <span class="details">Phone</span>
                    <input type="text" placeholder="optional">
                </div>

                <div class="input-box">
                    <span class="details">Comments</span>
                    <textarea placeholder="optional" id="" cols="30" rows="2"></textarea>
                </div>


            </div>
            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>


</div>