.landing-text {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 1em;
    color: #11242B;
}

.name-heading {
    font-size: 5rem;
    font-weight: 500;
    margin-right: 20px;
}

.home-page {
    height: 100%;
    width: 100%;
}