<div id="home" class="home-page">
    <div class="landing-text">
        <h1 class="name-heading">
            Edwin <br> Abraham Thomas
        </h1>

        <a href="./assets/Documents/resume.pdf" target="_blank">
            <img src="./assets/Logos/resume.png" alt="" class="social-icons">
        </a>
        <a href="https://github.com/edwinat-dev" target="_blank" rel="noopener noreferrer">
            <img src="./assets/Logos/github.png" alt="" class="social-icons">
        </a>
        <a href="https://www.linkedin.com/in/edwin-abraham-thomas-870555167/" target="_blank" rel="noopener noreferrer">
            <img src="./assets/Logos/linkedin.png" alt="" class="social-icons">
        </a>

    </div>

</div>